<!doctype html>
<html>
<head>

<title>Meadowlark Travel</title>

</head>
<body>
	
	<header>
		<img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
	</header>

	{{{body}}}

	<h3>Hello, friend.</h3>

</body>

</html>